#tdreview{
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;       
}    
/* button */
.dt-button{
  background-color:#0288D1;
  color:white;
  width:100px;
  height:35px;
  border-radius:50px;
  border:none;
}
.dt-button:hover{
  background-color:#066aa0;
}
.btn-edit{
  background-color:#0288D1;
  border:none;
}
.btn-edit:hover{
  background-color:#066aa0;
}
